<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="header">
    <mat-toolbar class="mat-toolbar">
    
        <span></span>
        <span class="example-spacer"></span>
        <ul class="header-menu">
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Homepage</a>
          </li>
          <li>
            <a routerLink="/Units" routerLinkActive="active">Units</a>
          </li>
          <li>
            <a routerLink="/Unitsdetail" routerLinkActive="active">Units Detail</a>
          </li>
        </ul>
      </mat-toolbar>
</header>
